[run]
# Only measure your actual app code
source = maps
omit =
    */migrations/*
    */__init__.py
    test_*
    manage.py

[report]
# Show which lines are missing in the terminal output
show_missing = True